<form action="/admin/products" method="POST">
  <div class="mb-4 text-center">
    <h1 class="h3 font-weight-normal mb-3">Create Product</h1>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="Enter name" value="{{product.name}}"
      required>
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="price">Price</label>
    <input class="form-control" type="text" name="price" id="price" placeholder="Enter price" value="{{product.price}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="description">Description</label>
    <input class="form-control" type="text" name="description" id="description" placeholder="Enter description"
      value="{{product.description}}">
  </div>
  <div class="form-row mb-3">
    <label class="form-label" for="image">Image</label>
    <input class="form-control" type="file" class="form-control-file" id="image" name="image">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>